/*content style*/
#content {
    font-family:sans-serif;
    background-color:rgb(213,236,235);
}
/* main navi style, here used selector */
[class*="container"] {
    background-color: rgb(213,236,235);
    border: 3px solid black;
    border-radius: 5px;
    margin: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* main header style */
header{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    margin: 1px; 
}
#historiikki{
    font-family: algerian;
    font-size: 50px;
    text-align: center;
}
#lisätieto{
    text-align: center;
}
/* article style */
article { 
    display: flex;
    height: 150px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    border: black 3px solid; 
    border-radius: 5px;     
}
/* pictures style */
.kuva{
    height: 300px;
    width: 250px;
    border: 2px solid rgb(62, 124, 206);
    margin: 5px;
    float: left;
}
#ameliapic{
    height: 250px;
    width: 300px;
    border: 2px solid rgb(62, 124, 206);
    margin: 5px;
    float: left;
}
#pyramidpic{
    height: 250px;
    width: 330px;
    border: 2px solid rgb(62, 124, 206);
    margin-left: 200px;
    float: left;
}
/* question blocks'style */
#abraham, #amelia, #ludvig, #marie, #nelson, #prize {
    display: none;
    height: 350px;
    margin: 1px;
    padding: 10px;
    border: 3px black solid;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    border-radius: 5px;
    align-items: center;
} 
/* feedbacks after every question, text slots' style */
.feedback {
    margin-top: 5px;
    margin-bottom: 10px;
}
/* progress-bar label's style */
.progress{ 
    display: none;
    font-weight: bold;
    background-color: rgb(213,236,235);
    margin: 10px;
}
/*several buttons' styles*/
#aloitusnappi, #seuraava1, #seuraava2, #seuraava3, 
#seuraava4, #seuraava5, .button, #uudestaan, #tulos {
    height: 50px;
    width: 100px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(45,202,194),rgb(45, 131, 202) );
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 5px;
}
/*unique button styles*/
#aloitusnappi{
    margin-left: 30px;
    padding: 2px;
}
/*prize block styles*/
#prize {
    display: none;
}
/*final feedback styles*/
#feedbackEnd{
    font-size: 30px;
    text-align:center;
    text-transform: uppercase;
    color: green;
    background-color: rgb(213,236,235);
}
/*main footer styles*/
footer{
    display: flex;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    margin: 1px;
}
/* do not show header and footer/change some items in the smallest display */
@media screen and (max-width: 576px){
    header{
        display: none;
    }
    footer {
        display: none;
    }
    .kuva{
        height: 150px;
        width: 125px;
    }
    h1, h2{
        font-size:medium;
    }
    #abraham, #amelia, #ludvig, #marie, #nelson, #prize {
        height: 300px; 
    }
    #ameliapic{
        height: 125px;
        width: 150px;
    }
    #pyramidpic{
        height: 125px;
        width: 175px;
        margin-left: 2px;
     }
}
