header{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(206, 231, 173);
    background-image: linear-gradient(rgb(206, 231, 173), rgb(241,225,166));
    padding: 10px;
    align-items: center;
    margin: 1px;
}

h1{color: brown;}

body {
    background-color: rgb(218, 230, 211);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



