body {
    background-color: rgb(218, 230, 211);
}

header{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    margin: 1px; 
}
#historiikki{
    font-family: algerian;
    font-size: 100px;
    text-align: center;
}
article{
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    margin: 1px;
    align-items: center;
}

footer{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    margin: 1px;
}
#ohje{
    margin-bottom: 10px;
    text-align: center;
}
#kuvakysymyksetKuvake{
    grid-column: 2/3;
    border: 10px solid rgb(45, 131, 202);
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-right: 100px;
}
#kuvakysymyksetKuvake:hover {
    border-color: rgb(3, 54, 119);
}
#tekstikysymyksetKuvake{
    grid-column: 3/4;
    border: 10px solid rgb(240, 140, 0);
    height: 200px;
    width: 200px;
    margin-right: 100px;
}
/*used here :hover -> it's a basic selector example*/
#tekstikysymyksetKuvake:hover {
    border-color: rgb(124, 73, 2);
}
#paikatKuvake {
    background-size: cover;
    grid-column: 4/5;
    border: 10px solid rgb(18, 95, 91);
    height: 200px;
    width: 200px;
}
#paikatKuvake:hover {
    border-color: rgb(4, 56, 59);
}
.textcolor{
    color:blue;
    font-weight: bold;
}

/* change/hide some items in the smallest display */
@media screen and (max-width: 576px){
    footer{display:none;     
    }    
    header{display:none;     
    } 
    .kuvake{
        margin: 5px;
    }
    #kuvakysymyksetKuvake{
        margin-left: 5px;
    }
}