[class="container"] {
    background-color: rgb(184, 229, 155);
    background-image: linear-gradient (rgb(184, 229, 155), rgb(218, 230, 211));
    border: 3px solid black;
    border-radius: 5px;
    margin: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}
body {
    background-color: rgb(218, 230, 211);
}

header{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(206, 231, 173);
    background-image: linear-gradient (rgb(206, 231, 173), rgb(184, 229, 155), rgb(218, 230, 211));
    padding: 10px;
    align-items: center;
    margin: 1px;
}

article{
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(241,225,166);
    background-image: linear-gradient(rgb(241,225,166), rgb(113, 167, 42));
    padding: 10px;
    margin: 1px;
}

footer{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(113, 167, 42);
    background-image: linear-gradient(rgb(113, 167, 42), rgb(241,225,166));
    padding: 10px;
    margin: 1px;
}

#kuvakysymyksetKuvake{
    grid-column: 2/3;
    border: 10px solid rgb(62, 124, 206);
    height: 200px;
    width: 200px;
}
#kuvakysymyksetKuvake:hover {
    border-color: rgb(3, 54, 119);
}
#tekstikysymyksetKuvake{
    grid-column: 3/4;
    border: 10px solid rgb(240, 140, 0);
    height: 200px;
    width: 200px;
}
#tekstikysymyksetKuvake:hover {
    border-color: rgb(124, 73, 2);
}
#paikatKuvake {
    background-size: cover;
    grid-column: 4/5;
    border: 10px solid rgb(19, 133, 141);
    height: 200px;
    width: 200px;
}
#paikatKuvake:hover {
    border-color: rgb(4, 56, 59);
}
/* change/hide some items in the smallest display */
@media screen and (max-width: 576px){
    footer{display:none;     
    }    
}