body {
    background-color: rgb(213,236,235);
}
header{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    margin: 1px; 
}
#historiikki{
    font-family: algerian;
    font-size: 50px;
    text-align: center;
}
#lisätieto{
    text-align: center;
}
article{
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(62, 124, 206);
    padding: 10px;
    margin: 1px;
}
.bigger{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color:blue;
    margin-bottom: 5px;
}
#question1, #question2, #question3, #question4, #question5{
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
}

footer{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(45,202,194);
    background-image: linear-gradient(rgb(213,236,235), rgb(45,202,194));
    padding: 10px;
    margin: 1px;
}
#uudestaan {
    border-radius: 15px;
    background-color: rgb(45, 131, 202);
    background-image: linear-gradient(rgb(45, 131, 202), rgb(45,202,194));
    border-color: black;
    margin: 10px;
    padding: 10px;
}
.hidden {
    display: none;
}
.checkbutton, .btn {
    border-radius: 15px;
    background-color: rgb(45, 131, 202);
    background-image: linear-gradient(rgb(45, 131, 202), rgb(45,202,194));
    border-color: black;
    margin: 10px;
    padding: 10px;
}